.text-switch {
    color: #fff;
    font-size: 20px;
    
    
}

.text-wrapper {
    color: #fff;
    margin-top: 5%;
}

.Github_logo {
    height: 90px;
    width: auto;
    background-color: transparent;
    display: flex;
}
