.text-switch {
    color: #fff;
    font-size: 20px;
    
    
}

.text-wrapper {
    color: #fff;
    margin-top: 5%;
}

.Github_logo {
    height: 50px;
    width: auto;
    background-color: transparent;
    display: flex;
    transition: 0.3s all ease-in-out;
}

.LinkedIn_logo {
    height: 50px;
    width: auto;
    background-color: transparent;
    display: flex;
    transition: 0.3s all ease-in-out;
}

.LinkedIn_logo:hover {
    height: 70px;
    width: auto;
    transition: 0.3s all ease-in-out;
}

.Github_logo:hover {
    height: 70px;
    width: auto;
    transition: 0.3s all ease-in-out;
    
}

.Resume_logo {
    height: 50px;
    width: auto;
    color: #fff;
    background-color: transparent;
    display: flex;
    transition: 0.3s all ease-in-out;
}

.Resume_logo:hover {
    height: 70px;
    width: auto;
    transition: 0.3s all ease-in-out;
    
}

.Resume {
    border-radius: 40px;
    background: black;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    
}

.Resume:hover{
    background-color: rgb(90, 70, 155);
    color: #fff;
    border: 1px solid #fff;
    transition: 0.1s all ease-in-out;
}