.viewMore {
    border-radius: 50px;
    background: rgb(90, 70, 155);
    padding: 12px 30px;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    
}

.viewMore:hover{
    background-color: black;
    color: #fff;
}