.about_me {
    color: #fff;
    padding-top: 100px;
    text-align: center;
    justify-self: center;
}

.about_me_cont {
    justify-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    padding-bottom: 25px;
}

.btn_wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 15px;
}
