.about_me {
    color: #fff;
    padding: 20px 32px;
    text-align: center;
    justify-self: center;
}

.about_me_cont {
    justify-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.btn_wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}